html {
  box-sizing: border-box; }


*, *::after, *::before {
  box-sizing: inherit; }

* {
  font-family: "Open Sans", sans-serif; }

body {
  margin: 0; }

a {
  color: #11AA11;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

section > h1,
section > .wrapper > h1 {
  text-align: center;
  color: #1D1D1D;
  font-size: 2.5rem;
  margin-bottom: 1em; }

header {
  background: black;
  font-size: 1em; }
  header a {
    text-decoration: none; }
  header ul {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    margin-left: 0.35em; }
    header ul li {
      display: inline-block;
      vertical-align: middle; }
      header ul li .brand {
        color: #00FF00;
        font-family: 'Dosis', sans-serif;
        font-size: 28px;
        font-weight: 500;
        padding: 0.4em; }
        header ul li .brand span {
          color: white;
          font-family: 'Dosis', sans-serif;
          font-weight: 300; }
      header ul li a {
        font-family: 'Dosis', sans-serif;
        padding: 0.7em 0.4em;
        font-size: 20px;
        color: #33EE33;
        display: block; }
      header ul li img {
        height: 0.8rem; }

#hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: url(../img/hero.jpg) no-repeat center bottom scroll;
  background-size: cover;
  padding: 3em;
  min-height: 75vh;
  position: relative; }
  #hero:last-child {
    margin-right: 0; }
  #hero .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #hero .content:last-child {
      margin-right: 0; }
  #hero .box {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
    border-radius: 2px;
    margin-bottom: 2em;
    opacity: .98;
    padding: 1.5em; }
    #hero .box * {
      color: #59595B; }
  #hero h2 {
    margin-bottom: 0.25rem; }
  #hero p {
    margin-bottom: 0; }
  #hero img.logo {
    height: 3rem;
    margin-bottom: 1rem; }
  #hero a.register {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #11CC11;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    position: relative;
    font-size: 1.25em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    transition: .4s; }
    #hero a.register:hover {
      background: #0b850b;
      cursor: pointer; }
    #hero a.register:active {
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
      top: 4px;
      position: relative; }


#about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  color: white;
  background: #1D1D1D; }
  #about:last-child {
    margin-right: 0; }
  #about .content {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    text-align: left;
    font-size: 1.25em; }
    #about .content::after {
      clear: both;
      content: "";
      display: table; }

#faq, #challenges-page {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 3rem 0 3rem;
  overflow: auto; }
  #faq::after, #challenges-page::after {
    clear: both;
    content: "";
    display: table; }
  #faq ul, #challenges-page ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-left: 0;
    margin-top: 0; }
    #faq ul:last-child, #challenges-page ul:last-child {
      margin-right: 0; }
    #faq ul li, #challenges-page ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      list-style-type: none;
      padding: 1.5em;
      margin-bottom: 1.5em;
      color: #59595B; }
      #faq ul li:last-child, #challenges-page ul li:last-child {
        margin-right: 0; }
      #faq ul li h2, #challenges-page ul li h2 {
        font-family: 'Dosis', open-sans;
        color: #11AA11; }
      #faq ul li:first-child, #challenges-page ul li:first-child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        #faq ul li:first-child:last-child, #challenges-page ul li:first-child:last-child {
          margin-right: 0; }
      #faq ul li:nth-child(3n+2), #challenges-page ul li:nth-child(3n+2) {
        margin-right: 0; }
      #faq ul li p:last-child, #challenges-page ul li p:last-child {
        margin-bottom: 0; }

#venue {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 3rem 0 3rem; }
  #venue::after {
    clear: both;
    content: "";
    display: table; }
  #venue > h1 {
    margin-bottom: 1rem; }
  #venue > h2 {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.5em; }
    #venue .travel span.b {
      background: #DB4B37; }
  #venue #gmap_canvas {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    width: 100% !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 6rem; }
    #venue #gmap_canvas:last-child {
      margin-right: 0; }

footer {
  background: black;
  padding: 1.5em 0; }
  footer .wrapper.outer {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem; }
    footer .wrapper.outer::after {
      clear: both;
      content: "";
      display: table; }
  footer .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  footer a.logo {
    display: block; }
  footer img {
    height: 3rem;
    display: block; }
  footer ul {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center; }
    footer ul li {
      display: inline;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 1em; }
      footer ul li a,
      footer ul li a:hover,
      footer ul li a:active {
        color: white;
        text-decoration: none; }
  footer #join h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Nunito", sans-serif !important;
    font-size: 2em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.025em; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body #page-wrapper {
    flex: 1; }

#tweets .content {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3em; }
  #tweets .content::after {
    clear: both;
    content: "";
    display: table; }
  #tweets .content iframe {
    display: block !important;
    margin: 0 auto; }


/* Stuff that I've changed */

.sponsors > h3 {
    font-size: 1.2em;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}

.gold {
    background-color: #FFD700;
}

.silver {
    background-color: #C0C0C0;
}

.bronze {
    background-color: #cd7f32;

}
.digital {
    background-color: #26619C;
}

.partner {
    background-color: #0C7C31;
}

.sponsor {
    background-color: grey;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    margin-right: 15px;
    padding: 24px;
    display: inline-block;
}

.sponlogo {
    display: inline-block;
    max-height: 120px;
    max-width: 430px;
    padding: 15px;
    margin-right: 12px;
    vertical-align: top;
    background-color: #0094C0;
    border-radius: 6px;
    margin-bottom: 6px;
    float: left;
}

.text {
    display: inline;
    width: 400px;
}

.thanks {
    margin: 12px;
    margin-top: 0px;
}

.spon {
    background-color: #1D1D1D;
    color: white;
    padding: 20px;
}

.interested { 
    margin: 20px;
    font-size: 1.5em;
}

.shed {
    padding-left: 25px;
}
