$background: #1D1D1D;
$bright-green: #00FF00;
$green: #33EE33;
$dark-green: #11CC11;
$darker-green: #11AA11;
$red: #C4494D;
$grey-dark: #59595B;

$teal: $background;

$accent: $background;
$secondary: $red;

$accent__dark: darken($accent, 15%);
$secondary__dark: darken($secondary, 15%);
