doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon", type="image/x-icon", href="../img/favicon.ico")
        title BrumHack
        link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
        != css()

    body
        header
            ul
                li: a.brand(href="/") BrumHack
                li: a(href="/") Home
                li: a(href="/hackathon") Hackathon
                li: a(href="/conference") Conference
                li: a(href="/sponsors") Sponsors
                li: a(href="/schedule") Schedule
                li: a(href="/conduct") Conduct

        a#mlh-trust-badge(style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000", href="https://mlh.io/seasons/eu-2017/events?utm_source=eu-2017&utm_medium=TrustBadge&utm_campaign=eu-2017&utm_content=gray", target="_blank", rel="noopener")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/gray.svg", alt="Major League Hacking 2017 Hackathon Season", style="width:100%")

        #page-wrapper
            block content

        //footer
        //    .wrapper.outer
        //        .flex
        //            a.logo(href="http://rebellabs.co.uk")
        //                img(src="img/labs-white.svg" alt="Rebel Labs Logo")
        //            ul
        //                li: a(href="https://github.com/RebelUncut/ukgovhack.com", target="_blank") Github (we accept PRs)
        //                li: a(href="http://rebellabs.co.uk", target="_blank") A Rebel Labs Project
        //                li: a(href="mailto:ukgovhack@rebellabs.co.uk") Contact
        //        #join
        //            h2 #JoinTheRebellion

        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="js/magnific.js")
        script(src="js/matchHeight.js")
        != js()
