doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title BrumHack
        meta( name="description", content="BrumHack is a 24 hour student hackathon hosted at the University of Birmingham. Over 100 projects have been created by over 500 students in the past - come show us what you can do!.")
        meta( name="keywords", content="hackathon, student, university, technology, tech, uni")

        meta( property="og:title", content="BrumHack" )
        meta( property="og:site_name", content="BrumHack" )
        meta( property="og:description", content="BrumHack is a 24 hour student hackathon hosted at the University of Birmingham. Over 100 projects have been created by over 500 students in the past - come show us what you can do!." )
        meta( property="og:image", content="https://www.brumhack.co.uk/img/brumhack-square.jpg" )
        meta( property="og:url", content="http://brumhack.co.uk" )
        meta( property="og:type", content="website" )


        link(rel="icon", type="image/x-icon", href="../img/favicon.ico")
        title BrumHack
        link(href="https://fonts.googleapis.com/css?family=Dosis:300,400,500|Open+Sans", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
        != css()

    body
        header#top
            ul
                li: a.brand(href="/") #[span Brum]Hack
                li: a(href="/") Home
                li: a(href="/sponsors") Sponsors
                li: a(href="/schedule") Schedule
                li: a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf", target="_blank", rel="noopener") Conduct
                li: a(href="mailto:hello@brumhack.co.uk") Contact


    a#mlh-trust-badge(style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000", href="https://mlh.io/seasons/eu-2017/events?utm_source=eu-2017&utm_medium=TrustBadge&utm_campaign=eu-2017&utm_content=gray", target="_blank", rel="noopener")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/gray.svg", alt="Major League Hacking 2017 Hackathon Season", style="width:100%")

        #page-wrapper
            block content

        footer
            .wrapper.outer
                .flex
                    a.logo(href="#top")
                        img(src="img/brumhack.jpg" alt="Brumhack Logo")
                    ul
                        li: a(href="mailto:hello@brumhack.co.uk") Contact

        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="js/magnific.js")
        script(src="js/matchHeight.js")
        != js()
