extends partials/layout

block content

	section#hero
		.content
			.box
				h1 Brumhack Autumn 2016
				h2 October 29-30
				h3 University of Birmingham, Learning Centre

				:marked
					BrumHack is a 24 hour student hackathon hosted at the University of Birmingham. Over 100 projects have been created by over 500 students in the past - come show us what you can do!

			.btn-group
				a.register(href="https://twitter.com/search?f=tweets&vertical=default&q=%23BrumHack&src=typd" target="_blank" rel="noopener") Follow along using #BrumHack

	section#about: .content
		:marked
			BrumHack is a 24 hour student hackathon at the University of Birmingham. Autumn 2016 will be the 5th instance of BrumHack, with prior events running in Spring and Autumn of the last two academic years. During our March 2016 event, 150 students from the University of Birmingham, Aston, BCU, UCL, KCL, and many other universities took part, and almost 40 projects were completed over the weekend.

			The hackathon will run across the weekend which offers students the chance to split into groups, brainstorm project ideas, and create a working prototype before the time limit is up! On Sunday afternoon teams will present their work and prizes will be awarded based on the judges decisions.

			Whilst there's no specific project ideas given by the organisers, sponsors are invited to set challenges and give out prizes to projects. For sponsors who bring data or an API, the prizes often revolve around the best, most innovative, or technically challenging project created using sponsor resources. For others, it might be for best project involving the sponsor’s industry, project with greatest capacity for effecting social change, or something entirely new.

	section#faq
		h1 FAQ
		ul
			li
				h2 What is BrumHack?
				p BrumHack is a 24 hour student hackathon at the University of Birmingham. We are excited to welcome students from all over to create awesome projects!
				p Over the weekend, hackathon participants form teams of up to 4 people, and have 24 hours to build a project before presenting it to the other attendees and sponsors, after which judging takes place and prizes are handed out. Hackathons are a great opportunity for students to take their knowledge out of the classroom, experiment with new and exciting technology, and make lasting friendships with like minded people.
			li
				h2 Hacka-what?
				p A hackathon is best described as an ‘invention marathon’. Amongst the computing community, to hack is to build in as short a time as possible with no thought given to long-term maintenance, simply to demonstrate an idea or play around with a new technology.
			li
				h2 How do I find a team?
				p There will be plenty of opportunity to share ideas and connect with fellow BrumHackers to create a team on the day, as well as before the event in the #[a(href="http://brumhack.slack.com", target="_blank", rel="noopener") BrumHack Slack]. As organisers, we’ll do our best to encourage and facilitate teamwork across the weekend.
			li
				h2 Who can attend?
				p BrumHack is a student hackathon, and therefore you must be a current student to be able to attend. You may stay overnight in the venue if you are over 18. If you're 14-18 we'd still love to have you come along, but due to volunteer and venue restrictions we can only do this on a daytime-only basis, meaning you'd need to go home between 10pm Saturday and 8am Sunday.
			li
				h2 What if I'm not a coder?
				p You don’t have to be a coder to participate in the hackathon! You can still become a valuable team member, offering a fresh perspective, or perhaps by bringing other skills to the table such as design, data analysis or insight into user need. Hackathons are a great opportunity to learn too, it's a friendly atmosphere where attendees will help each other and share knowledge, so come along if you'd like to develop your coding skills!
			li
				h2 Can I stay overnight?
				p If you're over 18, you're welcome to stay overnight. You might want to consider bringing any sleeping stuff with you to make you comfortable, such as a pillow or sleeping bag.
			li
				h2 How much does it cost?
				p Nothing! BrumHack is free to attend, with the venue and all food provided by our fantastic partners and sponsors.
			li
				h2 What's the deal with food?
				p All food across the weekend will be provided free of charge - from lunch on Saturday through to lunch on Sunday. All dietary requirements will be considered and catered for - please make sure you provide this information upon registering.
			li
				h2 Who owns the projects?
				p All IP generated at the BrumHack hackathon belongs to the developer. However, to generate the widest benefit from this event, we encourage developers to provide Open Source licenses for the results of their creativity.
			li
				h2 Can I start before?
				p While you can explore ideas and produce designs before the BrumHack hackathon, you cannot write a line of code for your project before the event itself.
			li
				h2 What shall I bring?
				p Bring your laptop, charger(s) and any other devices you wish to work on at the hackathon. If you are staying overnight, you will also need to bring toiletries, and a sleeping bag or blanket and pillow.

	section#sign-up-block
			article
				iframe(src="//eventbrite.co.uk/tickets-external?eid=22993025759&ref=etckt", frameborder="0", height="480", width="100%", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")


	section#tweets: .content
		a(class="twitter-timeline", data-dnt="true", href="https://twitter.com/hashtag/brumhack", data-widget-id="763797507029790720") #BrumHack Tweets
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


	.list.orgs.sponsors
			li.rebel: a(href="http://www.rebelmakers.co.uk/camp", target="_blank" rel="noopener"): .wrapper
				.left.match.rebel: img(src="img/orgs/rebel.png")
				.right.match
					p We are hugely excited to announce our partnership with Rebel Makers’ Camp event, which will take place in the same venue as BrumHack. Attendees from BrumHack will be welcome to go to workshops and talks that the Camp is running and get to meet, make friends and share knowledge with all of their lovely people! Check them out #[span here].

	section#venue
		h1 Where
		h2 University of Birmingham, Learning Centre

		script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
		#gmap_canvas(style='height:500px;width:600px;')
		style.
			#gmap_canvas img{max-width:none!important;background:none!important}
			a#get-map-data.google-map-code(href='http://www.themecircle.net') themecircle.net
		script(type='text/javascript').
			function init_map(){
				var myOptions = {
					zoom:15,
					center: new google.maps.LatLng(52.450488,-1.935746),
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
				marker = new google.maps.Marker({
					map: map,position: new google.maps.LatLng(52.450488,-1.935746)
				});
				infowindow = new google.maps.InfoWindow({
					content:"<b>University of Birmingham</b><br/>Learning Centre<br/>Birmingham B15 2TT"
				});
				google.maps.event.addListener(marker, "click", function(){
					infowindow.open(map,marker);
				});
				infowindow.open(map,marker);
			}
			google.maps.event.addDomListener(window, 'load', init_map);

	section#slack: .wrapper
		h1 Join the BrumHack Slack Channel
		h2 Talk with other awesome people before, during and after the event!
		a(href="http://brumhack.slack.com/", target="_blank", rel="noopener") Click here to register
