extends partials/layout

block content

	#content-page

		h1.page-title Schedule

		table.schedule
			tr
				th Time
				th.h Saturday
				th.h Sunday
			tr
				td 9am
				td Sponsor setup
				td Breakfast
			tr
				td 10am
				td Hackers start arriving
				td Call for Submissions
			tr
				td 11am
				td Opening talks, introductions, housekeeping
				td -
			tr
				td 12pm
				td Hacking begins!
				td End of hacking!
			tr
				td 12.30pm
				td -
				td Team presentations
			tr
				td 1pm
				td Lunch
				td -
			tr
				td 1.30pm
				td -
				td Lunch
			tr
				td 4.30pm
				td -
				td Winners announced, end of event
			tr
				td 7pm
				td Dinner
				td -
			tr
				td 8pm
				td Minigame 1
				td -
			tr
				td 10pm
				td Minigame 2
				td -



			// (colspan="4")