extends partials/layout

block content

	#content-page

		h1.page-title Schedule

		table.schedule.desktop
			tr
				th Time
				th.h Saturday
				th.h Sunday
			tr
				td 9am
				td Sponsor setup
				td Breakfast
			tr
				td 10am
				td Hackers start arriving
				td Call for Submissions
			tr
				td 11am
				td Opening talks, introductions, housekeeping
				td -
			tr
				td 12pm
				td Hacking begins!
				td End of hacking!
			tr
				td 12.30pm
				td -
				td Team presentations
			tr
				td 1pm
				td Lunch
				td -
			tr
				td 1.30pm
				td -
				td Lunch
			tr
				td 4.30pm
				td -
				td Winners announced, end of event
			tr
				td 7pm
				td Dinner
				td -
			tr
				td 8pm
				td Minigame 1
				td -
			tr
				td 10pm
				td Minigame 2
				td -

			table.schedule.mobile
				th
					td Saturday
				tr
					td 9am - Sponsor setup
				tr
					td 10am - Hackers start arriving
				tr
					td 11am - Opening talks, introductions, housekeeping
				tr
					td 12pm - Hacking begins!
				tr
					td 1pm - Lunch
				tr
					td 7pm - Dinner
				tr
					td 8pm - Minigame 1
				tr
					td 10pm - Minigame 2
				th
					td Sunday
				tr
					td 9am - Breakfast
				tr
					td 10am - Call for submissions
				tr
					td 12pm - End of hacking!
				tr
					td 12.30pm - Team presentations
				tr
					td 1.30pm - Lunch
				tr
					td 4.30pm - Winners announced, end of event
