extends partials/layout

block content

	#content-page
	.list.orgs.sponsors
		h3.gold Gold Sponsor
		ul
			li.capgemini: a(href="http://capgemini.com", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/capgemini.png")
				.right.match
					p With more than 180,000 people in over 40 countries, Capgemini is a global leader in consulting, technology and outsourcing services. Together with its clients, Capgemini creates and delivers business, technology and digital solutions that fit their needs, enabling them to achieve innovation and competitiveness. We're massively excited to welcome Capgemini to BrumHack for the first time, and as our gold sponsor!

		h3.silver Silver Sponsors
		ul
			li.twilio: a(href="http://twilio.com", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/twilio.png")
				.right.match
					p Twilio powers the future of business communications. They take care of the messy telecom hardware and expose a globally available cloud API that developers can interact with to build intelligent and complex communications systems which include voice, video and authentication.
			li.pusher: a(href="http://pusher.com", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/pusher.png")
				.right.match
					p Pusher is a simple API for quickly, easily and securely adding realtime bi-directional functionality via WebSockets to web and mobile apps, or any other Internet connected device. This will be the first time that Pusher have joined us at BrumHack, so we’re hugely excited to have them come along!
			li.packt: a(href="https://www.packtpub.com/", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/packt.png")
				.right.match
					p Packt Publishing is the leading UK provider of technology and coding eBooks, videos and blogs; helping IT professionals to put software to work. Packt have supported BrumHack before, and being a Birmingham based company, we’re delighted to have them return!

		h3.bronze Bronze Sponsors
		ul
			li.mobilefun: a(href="http://www.mobilefun.co.uk/", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/mobilefun.png")
				.right.match
					p Mobile Fun are a retailer of a huge range of mobile phone and tablet accessories, gadgets and handsets. Based in Birmingham, and a previous BrumHack supporter, we’re glad to have them join us once again.
			li.travel-cloud: a(href="http://www.travel.cloud/", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/travel-cloud.png")
				.right.match
					p travel.cloud searches thousands of travel providers to find the best rates and widest choice. Book for yourself, book for your colleagues, and have all your confirmations in one place - saving you time, money and stress.

	.list.orgs.partners
		h3.partners Partners
		ul
			li.uob: a(href="http://www.birmingham.ac.uk/", target="_blank", rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/uob.png")
				.right.match
					p We’d like to thank the University of Birmingham, our home university, for supporting us with our venue.
			li.bloomberg: a(href="http://www.bloomberg.com/", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/bloomberg.png")
				.right.match
					p Bloomberg delivers business and markets news, data, analysis, and video to the world. They have been a long standing supporter of the MLH seasons, and we’re happy to welcome them to BrumHack once again.

	.interested
		a(href="mailto:hello@brumhack.co.uk") Interested in getting involved? Click here to send us an email.




