extends partials/layout

block content

    .list.orgs.sponsors
        h3.gold Gold Sponsor
        ul
            li.capgemini: a(href="http://capgemini.com", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/capgemini.png")
                .right.match
                    p With more than 180,000 people in over 40 countries, Capgemini is a global leader in consulting, technology and outsourcing services. Together with its clients, Capgemini creates and delivers business, technology and digital solutions that fit their needs, enabling them to achieve innovation and competitiveness. We're massively excited to welcome Capgemini to BrumHack for the first time, and as our gold sponsor!

        h3.silver Silver Sponsors
        ul
            li.twilio: a(href="http://twilio.com", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/twilio.png")
                .right.match
                    p Twilio powers the future of business communications. They take care of the messy telecom hardware and expose a globally available cloud API that developers can interact with to build intelligent and complex communications systems which include voice, video and authentication.
            li.pusher: a(href="http://pusher.com", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/pusher.png")
                .right.match
                    p Pusher is a simple API for quickly, easily and securely adding realtime bi-directional functionality via WebSockets to web and mobile apps, or any other Internet connected device. This will be the first time that Pusher have joined us at BrumHack, so we’re hugely excited to have them come along!
            li.packt: a(href="https://www.packtpub.com/", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/packt.png")
                .right.match
                    p Packt Publishing is the leading UK provider of technology and coding eBooks, videos and blogs; helping IT professionals to put software to work. Packt have supported BrumHack before, and being a Birmingham based company, we’re delighted to have them return!
            li.capitalone: a(href="https://www.capitalone.com/", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/capitalone.jpg")
                .right.match
                    p Big ideas brought to life by the brightest folks working together. That’s what we’re all about at Capital One. We’re reinventing money and inspiring lives through our focus on creating helpful, convenient financial products and services that make money make sense for our customers. It’s a journey – and it’s one we’d like you and your graduate talent to be part of.

        h3.bronze Bronze Sponsors
        ul
            li.mobilefun: a(href="http://www.magic42.co.uk/", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/magic42.png")
                .right.match
                    p magic42 is unique in that it evolved from Mobile Fun, an award winning online retailer with 15 year’s experience, 35 international websites and a global distribution network managed from the heart of Birmingham.
            li.travel-cloud: a(href="http://www.travel.cloud/", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/travel-cloud.png")
                .right.match
                    p travel.cloud searches thousands of travel providers to find the best rates and widest choice. Book for yourself, book for your colleagues, and have all your confirmations in one place - saving you time, money and stress.

    .list.orgs.partners
        h3.digital Digital Sponsors
        ul
            li.schroders: a(href="http://www.schroders.com/", target="_blank", rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/schroders.png")
                .right.match
                    p For the first time we'd like to welcome Schroders to BrumHack as our digital sponsor. Schroders are a global asset manager with £343.8 billion of assets under management and offices in 27 countries.

        h3.partners Partners
        ul
            li.uob: a(href="http://www.birmingham.ac.uk/", target="_blank", rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/uob.png")
                .right.match
                    p We’d like to thank the University of Birmingham, our home university, for supporting us with our venue.
            li.bloomberg: a(href="http://www.bloomberg.com/", target="_blank" rel="noopener"): .wrapper
                .left.match: img(src="img/orgs/bloomberg.png")
                .right.match
                    p Bloomberg delivers business and markets news, data, analysis, and video to the world. They have been a long standing supporter of the MLH seasons, and we’re happy to welcome them to BrumHack once again.

    .interested
        a(href="mailto:hello@brumhack.co.uk") Interested in getting involved? Click here to send us an email.




