extends partials/layout

block content

	#content-page

	.list.orgs.partners
		h2 Partners
		ul
			li.uob: a(href="http://www.birmingham.ac.uk/", target="_blank", rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/uob.png")
				.right.match
					p University of Birmingham graciously blah blah
			//li.parli: a(href="http://parliament.uk", target="_blank"): .wrapper
			//	.left.match: img(src="img/orgs/parliament.png")
			//	.right.match
			//		p Bloomberg did this and that
			li.bloomberg: a(href="http://www.bloomberg.com/", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/bloomberg.png")
				.right.match
					p Bloomberg did this and that
	.list.orgs.sponsors
		h2 Sponsors
			li.silver
				p Silver Sponsors
			li.packt: a(href="http://pusher.com", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/packt.png")
				.right.match
					p Packt test test test
			li.pusher: a(href="http://pusher.com", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/pusher.png")
				.right.match
					p Pusher test test test
			li.twilio: a(href="http://twilio.com", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/twilio.png")
				.right.match
					p Twilio powers the future of business communications. They take care of the messy telecom hardware and expose a globally available cloud API that developers can interact with to build intelligent and complex communications systems which include voice, video and authentication.
			li.bronze
				p Bronze Sponsors
			li.mobilefun: a(href="http://www.mobilefun.co.uk/", target="_blank" rel="noopener"): .wrapper
				.left.match: img(src="img/orgs/mobilefun.png")
				.right.match
					p Mobile Fun test test test

	.interested
		a(href="mailto:hello@brumhack.co.uk") Interested in getting involved? Click here to send us an email.




