extends partials/layout

block content

	#content-page

		h1.page-title Tickets

		article

			iframe(src="//eventbrite.co.uk/tickets-external?eid=22993025759&ref=etckt", frameborder="0", height="245", width="100%", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")
