$header-spacing: 0.70em;

header {
	background: $accent;
	font-size: 1em;
	a {
		text-decoration: none;
	}
	ul {
		display: inline-block;
		padding-left: 0;
		margin: 0;
		margin-left: $header-spacing / 2;
		li {
			display: inline-block;
                        vertical-align: middle;
                        .brand {
                            font-family: 'fifteen';
                            font-size: 26px;
                        }

			a {
				font-family: 'fifteen';
                                padding: $header-spacing $header-spacing / 1.75;
                                font-size: 20px;
				color: $green;
				display: block;
			}
			img {
				height: 0.8rem;
			}
		}
	}
}
