.list.orgs {
	h2 {
		@include outer-container;
		font-family: 'Dosis', sans-serif;
		font-size: 2em;
		margin-bottom: 0.5em;
		padding: 0 3rem;
	}
	h3 {
		@include outer-container;
		font-family: 'Dosis', sans-serif;
		font-size: 2.4em;
		max-width: inherit;
		padding: 1rem 4rem;
		text-align: center;
		width: 100%;

		&.gold {
			background-color: #FFD700;
		}

		&.silver {
			background-color: #C0C0C0;
		}

		&.bronze {
			background-color: #CD7F32;
		}

		&.partners {
			color: black;
			margin-top: 1em;
		}
	}
	ul {
		padding-left: 0;
		margin: 0;
		margin-bottom: 1em;
	}

	&.partners {
		ul {
			margin-top: 0;
		}
	}

	li {
		list-style: none;
		a {
			.wrapper {
				@include outer-container;
				padding: 3rem;
			}
		}
		.match {
			display: flex !important;
			flex-direction: column;
			justify-content: center;
		}
		.left {
			@include span-columns(4 of 12);
			img {
				max-height: 96px;
				width: 100%;
			}

			&.rebel {
				img {
					max-height: 126px;
					width: 76%;
				}
			}
		}
		.right {
			@include span-columns(7 of 12);
			@include shift(1 of 12);
			p {
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 0;
				> span {
					text-decoration: underline;
				}
			}
		}
	}
	&.partners ul {
		margin-bottom: 3rem;
	}

	@mixin org($class, $bg-color, $text-color: white) {
		.#{$class} {
			background: $bg-color;
			color: $text-color;
			a {
				color: $text-color;
			}
		}
	}

	@include org(uob, white, black);
	@include org(capgemini, #0094C0, white);
	@include org(bloomberg, white, black);
	@include org(twilio, #e12127, white);
	@include org(pusher, #37A5BC, white);
	@include org(packt, #E2670F, white);
	@include org(mobilefun, #CCDC00, white);
	@include org(rebel, #E81F63, white);
	@include org(travel-cloud, #9E1F63, white)
}

.interested {
	@include outer-container;
	padding: 0 3rem;
	a {
		font-size: 1.25em;
		margin-top: 2em;
		margin-bottom: 2em;
		display: block;
		text-decoration: none;
	}
}
